[submodule "doc/gabi"]
	path = doc/gabi
	url = https://github.com/xinuos/gabi
	branch = main
[submodule "crates/ample"]
	path = crates/ample
	url = https://github.com/ze-gois/rust_ample.git
	branch = main
[submodule "crates/userspace_build"]
	path = crates/userspace_build
	url = https://github.com/ze-gois/rust_userspace_build.git
	branch = main
